:root {
    --accent: purple;
    --accent-lt: pink;
    --accent-dk: yellow; 
}


body {
    color: var(--accent-dk);
    background: var(--accent-lt);
    background: hotpink;
}

h1 {
    color:yellow;
    font-style: italic;
    font-family: Impact;
}

p{
    background:aquamarine;
    font-weight: bold;
    padding: 10px;
    border: 2px solid greenyellow;
}

footer {
    background: var(--accent-dk);
    color: white;
    text-align:center;
    font-size: 2rem;
}