body {
    background: hotpink;
}

h1 {
    color:yellow;
    font-style: italic;
    font-family: Impact;
}

p{
    background:aquamarine;
    font-weight: bold;
    padding: 10px;
    border: 2px solid greenyellow;
}